body {  
	background-color: #ffffff; 
}

* { 
        padding : 0px ; 
　　　　margin : 0px ; 
} 

#container {
	width : 700px;
	margin : 20px auto;
}

#header {
	padding : 0px ; 
	margin:10px;  
}

#main{
	line-height: 1.4; 
}

#footer{
	margin : 20px 0;
	border-top:solid 1px #999999;
	padding-top : 20px ;
	font-size: 14px;
	font-weight: bold;        
	text-align: center;
}

#footer a{
	text-decoration: none;
	color: #666666;
}

h2 {
	text-align:center;
	font-size: 32px;
	color : #00ff00;
	text-shadow: 2px 2px 2px #666666;
	margin : 0px;
	padding : 10px ; 
}

.header-text{
	text-align: center;
	font-size: 14px;
	margin: 0 ;
}

table {
	width: 690px;
	table-layout:fixed;
	border:solid 1px;
 	border-collapse: collapse;
}

caption {
	padding: 7px;
	font-size: 20px;
	font-weight: bold;
	color:#0000ff;
}

td {
	padding:7px; 
	vertical-align:top;
	border:solid 1px;
	font-size:16px;

}

